- Services:
    - Home Assistant:
        href: https://homeassistant.krugten.org
        description: Home Automation
        icon: home-assistant.png
    - Vaultwarden:
        href: https://vaultwarden.krugten.org
        description: Password Manager
        icon: vaultwarden.png
    - Pi-hole:
        href: https://pihole.krugten.org
        description: Ad Blocker
        icon: pi-hole.png
    - Mealie:
        href: https://mealie.krugten.org
        description: Recipe Manager
        icon: mealie.png
    - Kuma:
        href: https://kuma.krugten.org/status/all
        description: Uptime kuma
        icon: uptime-kuma.png
