title: Krugten Home
theme: dark
color: slate
headerStyle: clean
layout:
  Infrastructure:
    style: row
    columns: 2
  Home:
    style: row
    columns: 2
  Tools:
    style: row
    columns: 2
  Gaming:
    style: row
    columns: 1
